* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
}

.canvas {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    position: absolute;
    top:0;
    left:0;
}

.nav {
    position: absolute;
    display: flex;
    left: 10px;
    top: 10px;
    width: 70px;
}

.icon {
    color: white;
    margin: 5px;
    font-size:1.2rem;
}

.settings {
    position: absolute;
    padding: 5px;
    right: 10px;
    top: 10px;
    background-color: rgb(58, 58, 58);
}

li {
    margin: 10px 10px 10px 10px;
    display: flex;
    align-items:center;
}

.slider {
    background: rgb(187, 187, 187); 
}

.label {
    color: rgb(200, 200, 200); 
    margin-right: 5px;
}