* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
}

canvas {
    width: 100vw;
    height: 100vh;
    z-index: 1500;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    position: absolute;
    top: 5px;
    left: 5px;
    width: auto;
    height: 3.8vh; 
    min-height: 30px;
    margin: 2px;
    z-index: 2000;
}


form {
    position: absolute;
    z-index: 2000;
    padding: 5px;
    right: 5px;
    top: 5px;
    background-color: rgb(58, 58, 58);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.1em;
}

form a {
    margin: 4px 0;
    color: #fff;
}

label {
    color: #fff;
    font-size: 1rem;
}